<div id="page-content">   
    <div class="container" id="home-container">
        <div class="jumbotron text-center text-black">

            <h1 class="display-4">Alpha Blog Josu</h1>
            <p class="lead">This is an example</p>
            
            <p> Some description...
            <p>''</p>
            <p>''</p>
            <a class="btn btn-dark btn-lg" href="#" role="button">Sign Up!</a>

        </div>
    </div>

</div>

<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
     <div class="container text-center">
          <small>Copyright &copy; Your Website</small>
    </div>
</footer>

